# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/
.env

# PyInstaller local builds
dist/
build/

# (Uncomment if you do NOT want to track spec files)
# *.spec

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
